body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
}

nav ul li a:hover {
  background-color: #575757;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  padding: 2em;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.text-content {
  max-width: 60%;
}

.text-content h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.5;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-content {
  background-color: #f9f9f9;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
}

.form-group {
  flex: 1;
  min-width: 200px;
}

.form-group label {
  font-weight: bold;
  margin-left: 30px;
  display: block;
  margin-bottom: 0.5em;
}

.form-group input, .form-group button {
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group input[type="date"], .form-group input[type="time"] {
  width: 60%;
  margin-left: 20px;
  display: inline-block;
}

.form-group button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: auto;
  padding: 0.5em 2em;
}

.form-group button:hover {
  background-color: #575757;
}
